
/***** Navigation *****/

nav {
    height: 106px;
    background-color: #acd373;
    line-height: 106px;
}
.navContain {
    width: 1165px;
    margin: 0 auto;
}
nav li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 12px;
}
nav img {
    display: inline-block;
    vertical-align: middle;
}
nav a {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: #f7f7f7; 
    text-decoration: none;
    text-transform: uppercase;
}
nav li:hover {
    text-decoration: underline;
}

/***** Header *****/

header {
    height:700px;
    background-color: #9abd67;
    background-image: url("../img/skyline.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    text-align: center;
    display: block;
}
h1 {
    font-family: 'source sans pro', sans-serif;
    font-size: 48px;
    font-weight: 900;
    color: #f7f7f7;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 222px;
}
h2 {
    font-family: 'droid serif', serif;
    font-size: 24px;
    font-weight: 400;
    font-style: italic;
    color: #f7f7f7;
    padding-top: 23px;
}
header img {
    margin: 0 auto;
    padding-top: 130px;
}

/***** About *****/

.about {
    background-color: #f7f7f7;
    height: 575px;
    background-image: url("/img/iphone.png");
    background-repeat: no-repeat;
    background-position: right;
}
.about .content {
    padding-top: 87px;
}
.aboutText {
    width: 770px;
    display: inline-block;
    vertical-align: top;
    padding-top: 30px;
}
.aboutImg {
    width: 395px;
    display: inline-block;
}
.aboutImg img {
    padding-right: 108px;
    padding-top: 5px;
}
h3 {
    font-family: 'source sans pro', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #454545;
    text-transform: uppercase;
}
.about h3 {
    display: inline-block;
    line-height: 55px;
    vertical-align: top;
    margin-left: 19px;
}
p {
    font-family: 'source sans pro', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #454545;
}
.about p {
    padding-top: 36px;
    line-height: 1.2;
}
.about p:nth-of-type(2) {
    padding-top: 23px;
    padding-bottom: 54px;
}

/***** Video Banner *****/

.video {
    background-image: url("../img/banner_1_with_overlay.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
    height: 520px;
    text-align: center;
}
.video img {
    padding-top: 191px;
}

/***** Services *****/

.services {
    background-color: #f7f7f7;
    height: 737px;
}
.services h3, .work h3, .blog h3 {
    text-align: center;
}
.services span, .work span {
    color: #acd373;
}
.services .button {
    padding-top: 4px;
}
img.spacer {
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 88px;
}
h5 {
    font-family: 'source sans pro', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #acd373;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
}
.services a, .work a, .about a, .testColumnOne a {
    font-family: 'droid serif', sans-serif;
    font-size: 18px;
    font-style: italic;
    color: #acd373;
    padding: 8px 20px;
    border: solid #acd373 1px;
    text-decoration: none;
    text-align: center;
}
.servicesBlock {
    width: 372px;
    margin: 0 27px 79px 0;
    display: inline-block;
}
.servicesText {
    width: 285px;
    display: inline-block;
    vertical-align: top;
}
.servicesBlock p {
    display: inline-block;
    vertical-align: top;
    padding-top: 7px;
    line-height: 1.2;
}
.servicesIcon {
    width: 65px;
    text-align: center;
    display: inline-block;
    margin-right: 18px;
    vertical-align: top;
}

/***** Team *****/

.team {
    background-color: #acd373;
    height: 654px;
    text-align: center;
}
.arrows {
    padding-top: 378px;
    margin: 0 4px;
}
.team .spacer {
    padding-bottom: 113px;
}
.team .quote {
    color: #f7f7f7;
}
.team h3, .contact h3 {
    color: #f7f7f7;
    text-align: center;
}
.white {
    color: #f7f7f7;
}
.teamBlock {
    display: inline-block;
    width: 270px;
    height: 250px;
    margin-right: 28px;
    background-color: #f7f7f7;
    border-radius: 5px;
    position: relative;
}
img.teamPic {
    margin-top: -75px;
    margin-left: 60px;
    display: block;
}
.teamBlock h5 {
    text-align: center;
    padding-top: 28px;
}
.teamBlock p {
    font-family: 'droid serif', sans-serif;
    font-size: 16px;
    font-style: italic;
    text-align: center;
    color: #787878;
    padding-top: 20px;
}
.teamIcons {
    height: 70px;
    background-color: #ebebeb;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    line-height: 70px;
    vertical-align: middle;
}
.teamIcons img {
    margin: 0 3px;
    vertical-align: middle;
}

/***** Job *****/

.jobBar, .newsletter {
    height: 109px;
    background-color: #91bd67;
    text-align: center;
    vertical-align: middle;
    line-height: 110px;
}
.jobBar p {
    font-family: 'source sans pro', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #f7f7f7;
    display: inline-block;
    margin-right: 50px;
}
.jobBar a {
    font-family: 'droid serif', sans-serif;
    font-size: 18px;
    font-style: italic;
    color: #f7f7f7;
    padding: 8px 20px;
    border: solid #f7f7f7 1px;
    text-transform: none;   
    text-decoration: none;
}

/***** Recent Work *****/

.work {
    background-color: #f7f7f7;
    height: 1149px;
}
.work a {
    padding: 8px 29px;
}
.workHalf {
    width: 570px;
    height: 370px;
    margin-right: 28px;
    display: inline-block;
    background-color: #ebebeb;
}
.workThirds {
    width: 370px;
    height: 300px;
    margin-top: 30px;
    margin-right: 29px;
    display: inline-block;
    background-color: #ebebeb;
    margin-bottom: 91px;
}
h6 {
    font-family: 'sans source pro', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #454545;
    text-align: center;
    padding-top: 20px;
}
.workHalf p, .workThirds p {
    font-family: 'droid serif', serif;
    font-size: 16px;
    font-style: italic;
    color: #787878;
    text-align: center;
    padding-top: 6px;
}
.workThirds h6 {
    padding-top: 25px;
}
.work .spacer {
    padding-bottom: 68px;
}

/***** Logo Bar *****/

.logoBar {
    height: 118px;
    background-color: #ebebeb;
    margin: 0 auto;
    line-height: 110px;
    text-align: center;
}
.logoBar li {
    display: inline-block;
    line-height: 110px;
    vertical-align: middle;
}
.logoBar img {
    margin: 0 22px;
    vertical-align: middle;

}

/***** Testimonials *****/

.testimonial {
    background-image: url("../img/testimonial-banner.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    height: 550px;
}
.testimonial .content {
    padding-top: 122px;
}
.testimonial a {
    padding: 8px 25px;
}
.testColumnOne {
    width: 300px;
    display: inline-block;
    margin-right: 100px;
    vertical-align: top;
}
.testQuote {
    width: 370px;
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}
.testimonial h4 {
    font-family: 'source sans pro', sans-serif;
    font-size: 30px;
    color: #f7f7f7;
    text-transform: uppercase;
    font-weight: 400;
    padding-bottom: 38px;
}
.testimonial p {
    color: #f7f7f7;
    padding-bottom: 57px;
    line-height: 1.2;
}
.reviewer {
    text-align: left;
    display: inline-block;
    letter-spacing: .9px;
}
.reviewer h5 {
    font-size: 16px;
    padding-bottom: 15px;
    padding-top: 24px;
}
.testQuote p {
    font-family: 'droid serif', serif;
    font-size: 16px;
    padding: 25px 15px 43px 15px;
}
.reviewer a {
    font-family: 'droid serif', serif;
    font-size: 16px;
    font-style: italic;
    color: #f7f7f7;
    padding: 0;
    text-align: left;
    border: 0;
    text-decoration: none;
    display: block;
}
.blockQuote {
    background-image: url('../img/quotebg.png');
    background-repeat: no-repeat;
    background-position: top center;
    padding-bottom: 35px;
}
.testQuote img {
    display: inline-block;
    width: 100px;
    text-align: center;
    vertical-align: top;
    margin-right: 26px;
}
.slider {
    padding-left: 736px;
    padding-top: 47px;
}

/***** Blog *****/

.blog {
    background-color: #f7f7f7;
    height: 691px;
}
.blog .content {
    padding-top: 106px;
}
.blog .spacer {
    padding-bottom: 58px;
}
.blogBlock {
    display: inline-block;
    width: 270px;
    height: 335px;
    background-color: #ebebeb;
    margin-right: 30px;
    vertical-align: top;
    position: relative;
}
img.blogIcon {
    margin-top: -30px;
    margin-left: 105px;
}
.blogBlock p {
    font-family: 'source sans pro', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #454545;
    text-align: center;
    padding: 15px 12px; 
    vertical-align: middle;
}
.blogBlock a {
    background-color: #acd373;
    display: block;
    height: 50px;
    font-family: 'droid serif', serif;
    font-size: 14px;
    font-style: italic;
    text-align: center;
    color: #f7f7f7;
    text-decoration: none;
    line-height: 50px;
    vertical-align: middle;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/***** Newsletter *****/

.newsletter p {
    font-family: 'source sans pro', sans-serif;
    font-size: 18px;
    color: #f7f7f7;
    display: inline-block;
    margin-right: 50px;
}
.newsletter input {
    height: 37px;
    border: 1px solid #f7f7f7;
    font-family: 'droid serif', serif;
    font-size: 14px;
    background-color: #9abd67;
    font-style: italic;
    color: #f7f7f7;
    vertical-align: middle;
    text-align: center;
}
.newsletter img {
    vertical-align: middle;
}

/***** Map *****/

.map {
    height: 500px;
    width: 100%;
}

/***** Contact *****/

.contact {
    height: 750px;
    background-color: #acd373;
}
.contact .content {
    padding-top: 87px;
}
.contact .spacer {
    padding-bottom: 38px;
    padding-top: 14px;
}
.form {
    margin: 0 auto;
    width: 597px;
}
.contact input, .contact textarea {
    display: block;
    width: 570px;
    background-color: #9abd67;
    border: none;
    margin-top: 13px;
    margin-bottom: 34px; 
    font-family: 'droid serif', serif;
    font-size: 15px;
    color: #f7f7f7;
    font-style: italic;
    padding-left: 25px;
}
.contact input {
    height: 38px;
}
.contact textarea {
    height: 133px;
    padding-top: 22px;
    margin-bottom: 50px;
}
.contact label {
    font-family: 'source sans pro', sans-serif;
    font-size: 18px;
    color: #f7f7f7;
}
button {
    background-color: #9abd67;
    font-family: 'droid serif', serif;
    font-size: 15px;
    font-style: italic;
    color: #f7f7f7;
    width: 110px;
    height: 40px;
    border: none;
}
.submit {
    text-align: right;
}
:focus {
    outline: none;
}
::-webkit-input-placeholder {
    color: #f7f7f7;
}

/***** Footer *****/

footer {
    height: 100px;
    background-color: #9abd67;
    line-height: 100px;
}
.footerContain {
    width: 1165px;
    margin: 0 auto;
}
footer p {
    font-family: 'source sans pro', sans-serif;
    font-size: 18px;
    color: #f7f7f7;
    display: inline-block;
}
footer li {
    display: inline-block;
    margin: 0 1.1px;
}
footer img {
    vertical-align: middle;
}


/***** Universal *****/
.content {
    max-width: 1170px;
    padding: 94px 0;
    margin: 0 auto;
}
.quote {
    font-family: 'droid serif', serif;
    font-size: 18px;
    color: #454545;
    text-align: center;
    padding-top: 15px;
    letter-spacing: -.7px;
}
.last {
    margin-right: 0;
}
.right {
    float: right;
}
.left {
    float: left;
}
.button {
    text-align: center;
}
.check {
    position: absolute;
    opacity: .3;
    top: 0;
    right: -87px;

}
